#st1,#st2,#st3{
    display: block;
    
}
#st1{
    background-color: blue;
    color: white;
}
#st2{
    background-color: violet;
    color: white;
}
#st3{
    background-color: green;
    color: white;
}
#st2,#st3{
    margin-top: 3px;
}

class{
    display: block;
    border: 10px groove red;
}